---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
import { Image } from "astro:assets";
import SocialLink from "../components/SocialLink.astro";
import QuickStat from "../components/QuickStat.astro";
import Chip from "../components/Chip.astro";
import Experience from "../components/Experience.astro";
import Interest from "../components/Interest.astro";
import Background from "../components/Background.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth antialiased">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Background />
    <Header />
    <main>
      <section
        class="text-center flex flex-col items-center justify-center gap-2 md:w-[720px]"
      >
        <Image
          src="/MyPic.jpeg"
          alt="me"
          width="180"
          height="180"
          loading="eager"
        />
        <h1>Balasurya Ganesamoorthi</h1>
        <p>I love cars and I like to code</p>
        <div class="flex flex-row gap-3 items-center mb-4">
          <SocialLink
            href="https://github.com/f1-surya"
            icon="/icons/github.svg"
          />
          <SocialLink
            href="https://twitter.com/f1_surya"
            icon="/icons/twitter.svg"
          />
          <SocialLink
            href="https://www.instagram.com/f1_surya/"
            icon="/icons/instagram.svg"
          />
          <SocialLink
            href="https://linkedin.com/in/balasurya-ganesamoorthi"
            icon="/icons/linkedin.svg"
          />
          <SocialLink
            href="https://leetcode.com/u/f1-surya/"
            icon="/icons/leetcode.svg"
          />
          <SocialLink
            href="https://bsky.app/profile/f1-surya.bsky.social"
            icon="/icons/bluesky.svg"
          />
        </div>
        <p class="px-1 md:px-0">
          Software Developer from Tamilnadu, India with 2+ years of experience
          in web technologies. Passionate about Formula 1, sports cars, and
          creating efficient software solutions.
        </p>
      </section>
      <section
        class="section py-20 grid grid-cols-2 md:flex md:flex-row md:justify-center md:items-center md:gap-8"
      >
        <QuickStat src="/code-xml.svg" value="2+" label="Years Coding" />
        <QuickStat src="/car.svg" value="100+" label="Races Watched" />
        <QuickStat src="/braces.svg" value="7" label="Coding langs" />
        <QuickStat src="/layers.svg" value="5" label="Frameworks" />
      </section>
      <section class="w-full py-20 px-4 md:px-48">
        <h2 class="font-bold">Skills</h2>
        <h5 class="font-bold text-[--gray-light] m-2">Programming languages</h5>
        <div class="flex flex-row flex-wrap gap-2">
          {
            [
              "Typescript",
              "Javascript",
              "Go",
              "Dart",
              "Java",
              "Kotlin",
              "Python",
            ].map((lang) => <Chip>{lang}</Chip>)
          }
        </div>
        <h5 class="font-bold text-[--gray-light] m-2">Technologies</h5>
        <div class="flex flex-row flex-wrap gap-2">
          {
            [
              "React",
              "NextJS",
              "Vite",
              "TailwindCSS",
              "Express",
              "React Native",
              "Flutter",
              "Astro",
            ].map((tech) => <Chip>{tech}</Chip>)
          }
        </div>
      </section>
      <section class="section flex flex-col">
        <h2 class="font-bold">Experience</h2>
        <div class="flex flex-col md:grid md:grid-cols-2 mt-2">
          <Experience
            title="Gester"
            duration="Oct 2024 : Nov 2024"
            description="Worked for a month developing an app for a tiffin service using NextJS"
          />
          <Experience
            title="Last 2 Brain Cells"
            duration="Jun 2023 : Jun 2024"
            description="Built websites using the MERN stack and mobile apps using Flutter and Firebase"
          />
        </div>
      </section>
      <section class="px-4 py-12 md:px-48">
        <h2 class="font-bold">Interests</h2>
        <div class="flex flex-col md:grid md:grid-cols-2 mt-2">
          <Interest
            title="Cars"
            description="Love european sports cars like Porsche, Koenigsegg and Lamborghini. I'm a huge fan of v10 engines and manual transmission."
            image="/car.svg"
          />
          <Interest
            title="Formula 1"
            description="I'm a nerd when it comes to Formula 1. If someone brings it up, I will not stop talking about it"
            image="/checkered-flag.svg"
          />
          <Interest
            title="Open Source"
            description="I admire open source software and I'm a big fan of Linux."
            image="/terminal.svg"
          />
          <Interest
            title="Gaming"
            description="Lately I've been playing a lot of Minecraft. I'm preparing to raid a Nether Fortress."
            image="/gamepad-2.svg"
          />
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
