---
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  image: string;
}

const { title, description, image } = Astro.props;
---

<li class="card flex flex-col md:flex-row items-center justify-start gap-4">
  <Image src={image} width="40" height="40" alt={title} />
  <div class="flex flex-col justify-start">
    <h4 class="font-bold">{title}</h4>
    <p>{description}</p>
  </div>
</li>
